#navigation-container {
  width: 100%; /* Initial width set to 100% */
  transition: width 0.3s ease-in-out;
  /* Hide overflowing content during transition */
}
.logo{
  width:100px;
  height:60px;
}

.nav-item-name {
  opacity: 1; /* Initially show nav-item-name */
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

.search-input {
  opacity: 1; /* Initially show search-input */
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover {
  width: 100%;
}

#navigation-container:hover .nav-item-name {
  opacity: 1; /* Maintain opacity on hover */
}

#navigation-container:hover .search-input {
  opacity: 1; /* Maintain opacity on hover */
}

#navigation-container:hover .search-icon {
  display: block;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}
